%h1 My Soil Types
.soils
  .add_new
    = simple_form_for @soil do |f|
      = f.input :name, :input_html => {:class => 'focus_here'}
      = f.button :submit

  .index_list
    %table{:summary => 'soil list'}
      %tr
        %th Name
      - @soils.each_with_index do |soil, i|
        %tr{:class => "#{((i+1) % 2 == 0 ? "even" : "odd")}"}
          %td= soil.name

