.sessions
  %h1 My Sessions
  = link_to "Record Session", new_session_path  
  %p
  .nav
    #menu_circ.active 
      = link_to "Conditions & Location", "#", :id => 'circumstances'
    #menu_tire.inactive 
      = link_to "Tires", "#", :id => 'tires'
    #menu_gear.inactive 
      = link_to "Gearing", "#", :id => 'gearing'
    #menu_suspension.inactive 
      = link_to "Fork", "#", :id => 'fork'
    #menu_suspension.inactive 
      = link_to "Shock", "#", :id => 'shock'


  
  .index_list
    = hidden_field_tag :option, @option 
    %table#sessionsTable.tablesorter{:summary => 'cirumstances list'}
      %thead
        %tr
          %th Event
          %th Date
          %th Time
          %th Session 
          %th.options.circumstances Venue
          %th.options.circumstances Track
          %th.options.circumstances Weather
          %th.options.circumstances Temp
          %th.options.circumstances Ground
          %th.options.tires Bike
          %th.options.tires Front Tire
          %th.options.tires Front PSI
          %th.options.tires Rear Tire
          %th.options.tires Rear PSI

          %th.options.gearing Front
          %th.options.gearing Rear
          %th.options.fork Spring
          %th.options.fork Compression
          %th.options.fork Rebound
          %th.options.shock Spring
          %th.options.shock Compr Hi
          %th.options.shock Compr Lo
          %th.options.shock Rebound
          %th.options.shock Sag

      %tbody
        - @sessions.each_with_index do |session, i|

          %tr 
            %td= session.event.name
            %td= session.date.strftime("%-d %b %y")
            %td= session.time.strftime("%l:%M%P")
            %td= session.session_type.name
            %td.options.circumstances= session.venue_name
            %td.options.circumstances= session.track_name
            %td.options.circumstances= session.weather
            %td.options.circumstances= session.temp
            %td.options.circumstances= session.ground_state
            %td.options.tires= session.bike.make_and_model
            %td.options.tires= session.front_tire.make_and_model
            %td.options.tires= session.front_psi
            %td.options.tires= session.rear_tire.make_and_model
            %td.options.tires= session.rear_psi
            %td.options.gearing= session.front_gearing
            %td.options.gearing= session.rear_gearing
            %td.options.fork= session.fork_spring_rate
            %td.options.fork= session.fork_compression
            %td.options.fork= session.fork_rebound
            %td.options.shock= session.shock_spring_rate
            %td.options.shock= session.compression_high
            %td.options.shock= session.compression_low
            %td.options.shock= session.rebound
            %td.options.shock= session.sag



/ #  session_notes        :text
/ #  tire_notes           :text
/ #  suspension_notes     :text
/ #  gearing_notes        :text
/ #  temp                 :integer

/ %th.arrow= sortable "event_id", "Event"
/ %th.arrow= sortable "date"
/ %th.arrow= sortable "time"
/ %th.arrow= sortable "session_type_id", "Session Type"
/ %th.options.circumstances.arrow= sortable "venue"
/ %th.options.circumstances.arrow= sortable "track_id", "Track"
/ %th.options.circumstances.arrow= sortable 'weather_condition_id', "Weather"
/ %th.options.circumstances.arrow= sortable "temp"
/ %th.options.circumstances.arrow= sortable 'ground_condition_id', "Ground"
/ %th.options.tires.arrow= sortable 'bike_id', "Bike"
/ %th.options.tires.arrow= sortable 'front_tire_id', "Front Tire"
/ %th.options.tires.arrow= sortable 'front_psi', "Front PSI"
/ %th.options.tires.arrow= sortable 'rear_tire_id', "Rear Tire"
/ %th.options.tires.arrow= sortable 'rear_psi', "Rear PSI"
/ 
