%h1 Record Conditions & Configuration   

.sessions
  .nav
    #menu_circ.active 
      = link_to "Conditions & Location", "#", :id => 'circumstances'
    #menu_tire.inactive 
      = link_to "Tires", "#", :id => 'tires'
    #menu_gear.inactive 
      = link_to "Gearing", "#", :id => 'gearing'
    #menu_suspension.inactive 
      = link_to "Suspension", "#", :id => 'suspension'

  = simple_form_for @session, :defaults => {:include_blank => false} do |f|    
    .circumstances.options
      .time
        - time = Time.now
        = f.input :date, :as => :string, :input_html => {:class => 'focus_here',:value => time.strftime("%-d %b %y")}
        = f.input :time, :as => :string, :input_html => {:value => time.strftime("%l:%M%P")}
        = f.association :event, :include_blank => true
        // = f.association :track, :include_blank => false
        .track
          = f.label :track
          = f.grouped_collection_select :track_id, Venue.order(:name), :tracks, :name, :id, :name, :include_blank => true
        
      .conditions
        = f.association :ground_condition, :include_blank => false
        = f.association :weather_condition, :include_blank => false
        = f.association :session_type, :include_blank => false
        = f.input :temp, :input_html => {:value => 60}
      .notes
        = f.input :session_notes
  
    .gearing.hidden.options
      .front
        = f.input :front_gearing, :input_html => {:value => 13}        
      .rear
        = f.input :rear_gearing, :input_html => {:value => 50}  
      .notes
        = f.input :gearing_notes
  
  
    .tires.hidden.options
      .front
        = f.association :front_tire, :collection => Tire.all(:order => 'manufacturer'),  :label_method => :make_and_model, :include_blank => false
        = f.input :front_psi, :input_html => { :value => 12}
      .rear
        = f.association :rear_tire, :collection => Tire.all(:order => 'manufacturer'),  :label_method => :make_and_model, :include_blank => false
        = f.input :rear_psi, :input_html => {:value => 10}  
      .notes
        = f.input :tire_notes
      
  
    .suspension.hidden.options
      .front
        /= f.input :front_gearing, :input_html => {:value => 13}  
        = f.input :fork_spring_rate, :input_html => {:value => 4.6, :step => 0.1}  
        = f.input :fork_compression, :input_html => {:value => @session.defaults[:compression]}
        = f.input :fork_rebound, :input_html => {:value => @session.defaults[:rebound]}
      .rear
        /= f.input :rear_gearing, :input_html => {:value => 50}  
        = f.input :shock_spring_rate, :input_html => {:value => 5.4, :step => 0.1}  
        = f.input :compression_high, :input_html => {:value => @session.defaults[:compression]}
        = f.input :compression_low, :input_html => {:value => 1.25, :step => 0.05}
        = f.input :rebound, :input_html => {:value => @session.defaults[:rebound]}
        = f.input :sag, :input_html => {:value => 100}
      .notes
        = f.input :suspension_notes
  
    .button
      = f.button :submit, 'Save Session'
  
:javascript
  window.venue_hash = #{Event.venue_hash.to_json};
