%h1 Record Conditions & Configuration 

.sessions
  .nav
    #menu_circ.active 
      = link_to "Conditions & Location", "#", :id => 'circumstances'
    #menu_tire.inactive 
      = link_to "Tires", "#", :id => 'tires'
    #menu_gear.inactive 
      = link_to "Gears & Compression", "#", :id => 'gears'

  = simple_form_for @session, :defaults => {:include_blank => false} do |f|    
    .circumstances.options
      .time
        - time = Time.now
        = f.input :date, :as => :string, :input_html => {:class => 'focus_here',:value => time.strftime("%-d %b %y")}
        = f.input :time, :as => :string, :input_html => {:value => time.strftime("%l:%M%P")}

        = f.association :track, :include_blank => false
        = f.association :event, :include_blank => false
      .conditions
        = f.association :ground_condition, :include_blank => false
        = f.association :sky_condition, :include_blank => false
        = f.association :session_type, :include_blank => false
  
    .suspension
  
  
    .tires.hidden.options
      .front
        = f.association :front_tire, :collection => Tire.all(:order => 'manufacturer'),  :label_method => :make_and_model, :include_blank => false
        = f.input :front_psi, :input_html => { :value => 10}
      .rear
        = f.association :rear_tire, :collection => Tire.all(:order => 'manufacturer'),  :label_method => :make_and_model, :include_blank => false
        = f.input :rear_psi, :input_html => {:value => 10}  
  
    .gearing.hidden.options
      .front
        = f.input :front_gearing, :input_html => {:value => 13}  
        = f.input :fork_spring_rate, :input_html => {:value => 4.6, :step => 0.1}  
        = f.input :fork_compression, :input_html => {:value => @session.default_compression}  
        = f.input :fork_rebound, :input_html => {:value => @session.default_rebound}
      .rear
        = f.input :rear_gearing, :input_html => {:value => 50}  
        = f.input :shock_spring_rate, :input_html => {:value => 5.4, :step => 0.1}  
        = f.input :compression_high, :input_html => {:value => @session.default_compression}
        = f.input :compression_low, :input_html => {:value => 1.25, :step => 0.05}
        = f.input :rebound, :input_html => {:value => @session.default_rebound}
        = f.input :sag, :input_html => {:value => 100}
  
    .button
      = f.button :submit, 'Save Session'
  
  / Sessions will have:
  /   *date
  /   *time
  /   track_id
  /   *event_id
  /   **ground_condition_id
  /   **sky_condition_id
  /   session_type (practice, test, moto1, moto2)
  / 
  / 
  /   front tire psi
  /   rear tire psi
  / 
  /   // suspension
  /   Fork spring rate
  /   Fork compressoin
  /   Fork rebound
  /   Shock spring rate
  /   Shock compressoin
  /   Shock rebound
  /   Shock sag
  /   Suspension notes/solutions
  / 
  /   // tires
  /   front tire psi
  /   rear tire psi
  /   tire notes/solutions
  / 
  /   // gearing
  /   front
  /   rear
  /   notes/solutions
