%h1 Edit Track
.tracks
  .add_new
    = simple_form_for @track do |f|
      = f.association :venue, :include_blank => false, :input_html => {:class => 'focus_here'}
      = f.association :track_type, :include_blank => false

      = f.input :name
      = f.association :soil, :include_blank => false
      = f.input :altitude
      = f.button :submit
