%h1 My Tracks
.tracks
  .add_new
    = simple_form_for @track do |f|
      = f.association :venue, :include_blank => false, :input_html => {:class => 'focus_here'}
      = f.association :track_type, :include_blank => false

      = f.input :name
      = f.association :soil, :include_blank => false
      = f.input :altitude
      = f.button :submit


  .index_list
    %table{:summary => 'track list'}
      %tr
        %th Name
        %th Venue
        %th Track Type
        %th Soil Type
        %th Altitude      
        %th Actions      
      - @tracks.each_with_index do |track, i|
        %tr{:class => "#{((i+1) % 2 == 0 ? "even" : "odd")}"}
          %td= track.name
          %td= track.venue.name
          %td= track.track_type.name
          %td= track.soil.name
          %td= track.altitude
          %td
            = link_to 'Edit', edit_track_path(track)
            .delete= button_to "X", {:action => :destroy, :id => track.id}, :confirm => "Are you sure?", :method => :delete
