%h1 New Track

= simple_form_for @track do |f|
  = f.input :name
  = f.association :venue, :include_blank => false
  = f.association :track_type, :include_blank => false
  = f.association :soil, :include_blank => false
  = f.input :altitude
  = f.button :submit
  
