%h1 My Track Types
.track_types
  .add_new
    = simple_form_for @track_type do |f|
      = f.input :name
      = f.button :submit

  .index_list
    %table{:summary => 'track types list'}
      %tr
        %th Name
      - @track_types.each_with_index do |track_type, i|
        %tr{:class => "#{((i+1) % 2 == 0 ? "even" : "odd")}"}
          %td= track_type.name
