%h1 My Session Types  
.session_types
  .add_new
    = simple_form_for @type do |f|
      = f.input :name, :input_html => {:class => 'focus_here'}
      = f.button :submit

  .index_list
    %table{:summary => 'session type list'}
      %tr
        %th Name
        %th Actions
      - @types.each_with_index do |type, i|
        %tr{:class => "#{((i+1) % 2 == 0 ? "even" : "odd")}"}
          %td= type.name
          %td
            = link_to 'Edit', edit_session_type_path(type)
            .delete= button_to "X", {:action => :destroy, :id => type.id}, :confirm => "Are you sure?", :method => :delete
