%h1 Motorcross Dope 


.record_stuff
  %h3 Record stuff
.see_stuff
  %h3 See stuff
  %p= link_to "Bikes", bikes_path
  %p= link_to "Tires", tires_path
  %p= link_to "Tracks", tracks_path
  %p= link_to "Venues", venues_path
  %p= link_to "Soil Types", soils_path
  %p= link_to "Track Types", track_types_path
  %p= link_to "Racing Series", racing_series_index_path

.add_stuff
  %h3 Add stuff
  %p= link_to "New Bike", new_bike_path
  %p= link_to "New Tire", new_tire_path
  %p= link_to "New Track", new_track_path
  %p= link_to "New Venue", new_venue_path
  %p= link_to "New Soil Type", new_soil_path
  %p= link_to "New Track Type", new_track_type_path
  %p= link_to "New Racing Series", new_racing_series_path  

