%h1 Motorcross Dope 


.record_stuff
  %h3 Record stuff
.see_stuff
  %h3 See stuff
  %p= link_to "My Races", races_path
  %p= link_to "My Bikes", bikes_path
  %p= link_to "My Tires", tires_path
  %p= link_to "My Tracks", tracks_path
  %p= link_to "My Venues", venues_path

.add_stuff
  %h3 Add stuff
  %p= link_to "New Race", new_race_path
  %p= link_to "New Bike", new_bike_path
  %p= link_to "New Tire", new_tire_path
  %p= link_to "New Track", new_track_path
  %p= link_to "New Venue", new_venue_path

