%h1 Motorcross Dope 


.record_stuff
  %h3 Record stuff
.see_stuff
  %h3 See stuff
  %p= link_to "Bikes", bikes_path
  %p= link_to "Tires", tires_path
  %p= link_to "Tracks", tracks_path
  %p= link_to "Venues", venues_path
  %p= link_to "Soil Types", soils_path
  %p.button= link_to "Track Types", track_types_path
  %p= link_to "Racing Series", racing_series_index_path

