%h1 Motocross Dope 

.welcome
  .record_session
    %p.button= link_to "Record Session", new_session_path
  
  .equipment
    %p.button= link_to "Bikes", bikes_path
    %p.button= link_to "Tires", tires_path

  .race_info
    %p.button= link_to "Venues", venues_path
    %p.button= link_to "Track Types", track_types_path
    %p.button= link_to "Racing Series", racing_series_index_path
    %p.button= link_to "Tracks", tracks_path
    %p.button= link_to "Events", events_path
    %p.button= link_to "Session Types", session_types_path
    %p.button= link_to "Sessions", sessions_path

  .conditions
    %p.button= link_to "Soil Types", soils_path
    %p.button= link_to "Ground Conditions", ground_conditions_path
    %p.button= link_to "Sky Conditions", sky_conditions_path
  
  