%h1 My Venues
.venues
  .add_new
    = simple_form_for @venue do |f|
      = f.input :name, :input_html => {:class => 'focus_here'}
      = f.button :submit

  .index_list
    %table{:summary => 'bike list'}
      %tr
        %th Name
      - @venues.each_with_index do |venue, i|
        %tr{:class => "#{((i+1) % 2 == 0 ? "even" : "odd")}"}
          %td= venue.name
