%h1 My Bikes
.bikes
  .add_new
    = simple_form_for @bike do |f|
      = f.input :manufacturer, :input_html => {:class => 'focus_here'}
      = f.input :model
      = f.input :year, :input_html => {:value => Date.today.year}
      = f.button :submit, {:id => 'new_bike'}

  .index_list
    = render :partial => 'bikes_list', :locals => {:bikes => @bikes}
 