%h1 My Tires


.add_new
  = simple_form_for @tire do |f|
    = f.input :manufacturer
    = f.input :model
    = f.button :submit

.index_list
  %table{:summary => 'tire list'}
    %tr
      %th Model
      %th Manufacturer
    - @tires.each_with_index do |tire, i|
      %tr{:class => "#{((i+1) % 2 == 0 ? "even" : "odd")}"}
        %td= tire.model
        %td= tire.manufacturer
