%h1 My Tires

.tires
  .add_new
    = simple_form_for @tire do |f|
      = f.input :manufacturer, :input_html => {:class => 'focus_here'}
      = f.input :model
      = f.button :submit

  .index_list
    = render :partial => 'tires_list', :locals => {:tires => @tires}
